@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

table {
    table-layout:fixed;
    border-collapse: collapse;
    border: 2px black solid;
    font-family: "Trebuchet-MS";
    color: #FFFFFF;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
}
th{
    background-color: #1270f4;
    height: 50px;
    border: 1px black solid;
    position: sticky;
    position: -webkit-sticky;
    top: 45px;
    font-size: 16px;
}
td {
    border: 1px black solid;
    padding: 5px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 14px;
    height: 10%;
    width:10px;
    word-wrap:break-word;
}
p{
    color: #000000;
}
tr{
    border: 1px black solid;
    height:10px;
    
}
tr:not(:nth-child(1)){
    color: #000000;
}
