@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

table {
    table-layout:fixed;
    border-collapse: collapse;
    border: 2px white solid;
    font-family: "Trebuchet-MS";
    word-wrap: break-word;
    color: #FFFFFF;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
}
th{
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #1270f4;
    height: 50px;
    font-size:15px;
    width:10px;
    border: 0px black solid;
    padding: 1px;
    position: sticky;
    position: -webkit-sticky;
    top: 45px;
    word-wrap:break-word;
}
th:not(:first-child){
    font-size:0px;
    border: 0px black solid;
    background-color:white;
}
th:last-child{
    font-size:15px;
    background-color:#1270f4;
}
td {
    border: 5px white solid;
    padding: 0px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 0px;
    width: 20px;
    height: 25px;
    word-wrap:break-word;
}
p{
    color: #000000;
}
tr{
    border: 1px black solid;
    
}
tr:not(:nth-child(1)){
    color: #000000;
}

.tooltip {
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}
